<form #form="ngForm" (ngSubmit)="FormSubmit()" [formGroup]="SubmitForm">
    <div class="mb-3">
      <label for="FullName" class="form-label">Full Name</label>
      <input type="text" class="form-control" id="FullName" name="FullName" [(ngModel)]="FullName"  formControlName="fullName" (ngModelChange)="changefullName($event)">
      <div *ngIf="SubmitForm.controls.fullName.touched && SubmitForm.controls.fullName.invalid"class="text-danger">
        <div *ngIf="SubmitForm.controls.fullName.errors?.['required']">
          Name is required.
        </div>
        <div *ngIf="SubmitForm.controls.fullName.errors?.['minlength']">
          the min length of Name is only 3 digits.
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="address" class="form-label">Address</label>
      <input type="text" class="form-control" id="address" name="Address" [(ngModel)]="Address" formControlName="address" (ngModelChange)="changeaddress($event)">
      <div *ngIf="SubmitForm.controls.address.touched && SubmitForm.controls.address.invalid"class="text-danger">
        <div *ngIf="SubmitForm.controls.address.errors?.['required']">
          Address is required.
        </div>
        <div *ngIf="SubmitForm.controls.address.errors?.['minlength']">
          the min length of Address is only 5 digits.
        </div>
      </div>
    </div>
    <div class="mb-3">
        <label for="credit" class="form-label">Credit card number</label>
        <input type="text" class="form-control" id="credit" name="Credit" [(ngModel)]="Credit" formControlName="credit" (ngModelChange)="changecredit($event)">
        <div *ngIf="SubmitForm.controls.credit.touched && SubmitForm.controls.credit.invalid"class="text-danger">
          <div *ngIf="SubmitForm.controls.credit.errors?.['required']">
            Credit card number is required.
          </div>
          <div *ngIf="SubmitForm.controls.credit.errors?.['minlength']">
            the length of Credit card number is 16 digits.
          </div>
          <div *ngIf="SubmitForm.controls.credit.errors?.['maxlength']">
            the length of Credit card number is 16 digits.
          </div>
          <div *ngIf="SubmitForm.controls.credit.errors?.['pattern']">
            Credit card number should contain only numbers.
          </div>
        </div>
      </div>
    <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Submit</button>
  </form>
