<div class="box">
  <div class="row">
    <div class="col-md-5 col-sm-12 mt-5">
        <img src="{{pro.url}}" alt="test">
    </div>
    <div class="col-md-7 col-sm-12">
        <div class="info">
            <ul  class="list-unstyled">
                <li><strong>{{pro.name}}</strong></li>
                <li>{{pro.price | currency}}</li>
                <li>{{pro.description}}</li>
                <li><p>
                    <select class="form-select" aria-label="Default select example" [(ngModel)]="Count">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                      </select>
                  </p></li>
                <button class="btn btn-primary" (click)="Add()">Add</button>
                <a href="#">back to list</a>
            </ul>


        </div>
    </div>
  </div>
</div>
