span {
    /* margin-right: 34px; */
    position: absolute;
    right: 30px;
    padding: 12px;
}

button.btn.btn-primary {
  height: 76%;
  width: 45%;
}

select.form-select.form-select-lg {
  width: 90%;
}

img {
  cursor:pointer;
}
